{% extends 'base.html.twig' %}

{% block body %}


        <div class="row">
            <h1>La blagosphere</h1>
            <main>
            <h2>Faites l'humour pas la guerre</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur eligendi impedit ipsum non
                porro qui! Blanditiis commodi dolores dolorum, eveniet maxime minima quas qui, quidem recusandae
                reiciendis temporibus voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at beatae dolor dolorum et, facere harum hic in iure laudantium nemo perferendis qui quisquam sint soluta sunt ullam voluptas, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias animi architecto dolor dolore dolores ea, enim est harum incidunt itaque iure maxime molestiae odit officia omnis possimus soluta! Doloremque.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur eligendi impedit ipsum non
                    porro qui! Blanditiis commodi dolores dolorum, eveniet maxime minima quas qui, quidem recusandae
                    reiciendis temporibus voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur eligendi impedit ipsum non
                    porro qui! Blanditiis commodi dolores dolorum, eveniet maxime minima quas qui, quidem recusandae
                    reiciendis temporibus voluptas?</p>


            </main>
        </div>

{% endblock %}

